{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<section class="pt-md-5">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card mx-auto d-flex">
						{% for product in products %}
							<div class="d-flex justify-content-center">
								<div class="card m-3" style="width: 25rem;">
									<img class="card-img-top" src="{{ product.thumbnail }}" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">{{ product.title }}</h5>
										<p class="card-text">
											{{ product.description }}</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
